@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  height: 100%;
}

body {
  width: 100%;
  max-width: 100%;
  color: $base-text-color;
  font-family: $main-font;
  font-size: $base-font-size;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

blockquote { margin: 0; }

a { text-decoration: none; }

p { margin: 0; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

*, *:before, *:after { box-sizing: border-box; }

.container {
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
  @media screen and (min-width: $tablet-size) {
    padding: 0 50px;
  }
  @media screen and (min-width: $desktop-size){
    width: 1150px;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text__hidden {
  @media screen and (min-width: $tablet-size){
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    -webkit-clip-path: inset(100%);
  }
}

//Модули
@import "modules/modules";
