// Colors
$white: #ffffff;
$black: #000000;
$base-text-color: #1b2329;
$link-color: #299bfa;

$bg-color-lightBlue: #aad6fd;
$bg-footer-color: #f6f8fa;

$border-color: #e5e5e5;

$bg-button-yellow: #eaaa56;
$bg-button-blue: #72baf9;
$bg-button-lightBlue: #eef7ff;

$color-hover: #46c1ae;

// Sizes
$base-font-size: 14px;
$title-font-size: 18px;

$mobile-size: 320px;
$tablet-size: 768px;
$desktop-size: 1140px;

// Fonts
$main-font: 'Montserrat-Regular', sans-serif;
$second-font: 'Montserrat-SemiBold', sans-serif;