.icon {
    &__arrow {
        fill: $white;
        width: 19px;
        &--next { transform: rotate(180deg); }
    }
}

.button {
    align-items: center;
    border: none;
    display: flex;
    font-family: $second-font;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: 1.4px;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
}