.s-hero {
  background-image: url("../images/content/header_bg-mobile1x.jpg");
  background-position: right top;
  background-size: 69% auto;
  background-repeat: no-repeat;
  @media screen and (-webkit-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url('../images/content/header_bg-mobile2x.jpg');
  }
}
.hero {
  margin-bottom: 114px;
  padding-top: 25px;
  &__title {
    font-family: $second-font;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 44px;
  }
  &__description {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 68px;
  }
  &__button {
    background-color: $bg-button-yellow;
    color: $white;
  }
}