footer.s-footer
    .footer
        h2.footer__name Алексей Леликов
        p.footer__phone Телефон:<br> +7 (926) 976-19-84
        p.footer__email Электронная почта: 
            a.footer__link(href="mailto:lelikov@sosiska.ru") lelikov@sosiska.ru
        span.footer_year 2019